<!-- Section with Words -->
	<div class="section center grey">
		<div class="row">
			<div class="section">
				<h1>
					<span class="glyphicon glyphicon-fire"></span>
					fightapp
				</h1>
				<p>Login or Register With:</p>
				<a href="/login" class="btn yellow"><span class="fa fa-user"></span> Local Login</a>
				<a href="/signup" class="btn yellow"><span class="fa fa-user"></span> Local Signup</a>
				<a href="/auth/facebook" class="btn blue"><span class="fa fa-facebook"></span> Facebook</a>
			</div>
		</div>
		<div class="row">
			<div class="col s4">
				<i class="large material-icons yellow-text">trending_up</i>
				<h4 class="yellow-text">Lorem Ipsum</h4>
				<p class="yellow-text">Kale chips forage beard flannel. Sartorial small batch marfa cray shoreditch. Artisan put a bird on it farm-to-table etsy taxidermy normcore. Biodiesel meh gentrify brooklyn, organic cornhole squid twee. Fap polaroid drinking vinegar, marfa umami mustache keytar lumbersexual. </p>
			</div>
			<div class="col s4">
				<i class="large material-icons yellow-text">verified_user</i>
				<h4 class="yellow-text">Lorem Ipsum</h4>
				<p class="yellow-text">Kale chips forage beard flannel. Sartorial small batch marfa cray shoreditch. Artisan put a bird on it farm-to-table etsy taxidermy normcore. Biodiesel meh gentrify brooklyn, organic cornhole squid twee. Fap polaroid drinking vinegar, marfa umami mustache keytar lumbersexual. </p>
			</div>
			<div class="col s4">
				<i class="large material-icons yellow-text">translate</i>
				<h4 class="yellow-text">Lorem Ipsum</h4>
				<p class="yellow-text">Kale chips forage beard flannel. Sartorial small batch marfa cray shoreditch. Artisan put a bird on it farm-to-table etsy taxidermy normcore. Biodiesel meh gentrify brooklyn, organic cornhole squid twee. Fap polaroid drinking vinegar, marfa umami mustache keytar lumbersexual.</p>
				<h4></h4>
			</div>
		</div>
	</div>

	<div class="parallax-container">
		<div id="passiton" class="parallax">
			<img src="/images/passiton.png">
		</div>
	</div>