body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

#main {
  flex: 1 0 auto;
}

img {
	width: 100%;
}
footer.page-footer {
	margin-top: 0;
	padding-top: 0;
}

.parallax img {
	box-sizing: all;
}

a.brand-logo {
	font-family: 'Pinyon Script', cursive;
}
/*.container {
	margin-left: 10%;
	margin-right: 10%;
}*/